USE [master]
GO
/****** Object:  Database [documatic_web_remake_development]    Script Date: 09/09/2025 08:10:14 PM ******/
CREATE DATABASE [documatic_web_remake_development]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'documatic_web_remake_development', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\documatic_web_remake_development.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'documatic_web_remake_development_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\documatic_web_remake_development_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [documatic_web_remake_development].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [documatic_web_remake_development]
GO
/****** Object:  Table [dbo].[AppConfig]    Script Date: 09/09/2025 08:10:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppConfig](
	[config_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NOT NULL,
	[active] [bit] NOT NULL,
	[app_company] [nvarchar](max) NOT NULL,
	[app_website] [nvarchar](max) NOT NULL,
	[app_email] [nvarchar](max) NOT NULL,
	[app_name] [nvarchar](max) NOT NULL,
	[app_records_per_page] [int] NULL,
	[app_document_records_per_page] [int] NULL,
	[max_upload_single_file_size] [int] NULL,
	[max_upload_documents_count] [int] NULL,
	[max_upload_operation_size] [int] NULL,
	[app_max_import_records] [int] NOT NULL,
	[record_per_page] [int] NOT NULL,
	[app_logo] [nvarchar](max) NOT NULL,
	[app_logo_alignment] [nvarchar](max) NOT NULL,
	[app_logo_adaptation] [nvarchar](max) NOT NULL,
	[app_logo_height] [int] NULL,
	[app_start_mail_download] [datetime] NULL,
	[show_information] [bit] NOT NULL,
	[filesystem_path_logs] [nvarchar](max) NOT NULL,
	[filesystem_path_image] [nvarchar](max) NOT NULL,
	[filesystem_path_attachments] [nvarchar](max) NOT NULL,
	[mail_from_1] [nvarchar](max) NOT NULL,
	[mail_smtp_port_1] [int] NULL,
	[mail_smtp_host_1] [nvarchar](max) NOT NULL,
	[mail_smtp_enable_ssl_1] [bit] NULL,
	[mail_smtp_use_default_credentials_1] [bit] NULL,
	[mail_username_1] [nvarchar](max) NOT NULL,
	[mail_password_1] [nvarchar](max) NOT NULL,
	[mail_from_2] [nvarchar](max) NOT NULL,
	[mail_smtp_port_2] [int] NULL,
	[mail_smtp_host_2] [nvarchar](max) NOT NULL,
	[mail_smtp_enable_ssl_2] [bit] NULL,
	[mail_smtp_use_default_credentials_2] [bit] NULL,
	[mail_username_2] [nvarchar](max) NOT NULL,
	[mail_password_2] [nvarchar](max) NOT NULL,
	[storage_mode] [nvarchar](max) NOT NULL,
	[hash_algorithm] [nvarchar](max) NOT NULL,
	[ftp_export_path] [nvarchar](max) NOT NULL,
	[create_zip_before_upload] [bit] NOT NULL,
	[ftp_host] [nvarchar](max) NOT NULL,
	[ftp_port] [int] NULL,
	[ftp_protocol] [nvarchar](max) NOT NULL,
	[ftp_encoding] [nvarchar](max) NOT NULL,
	[ftp_transfer_type] [nvarchar](max) NOT NULL,
	[ftp_username] [nvarchar](max) NOT NULL,
	[ftp_password] [nvarchar](max) NOT NULL,
	[ftp_remote_directory] [nvarchar](max) NOT NULL,
	[ws_username] [nvarchar](max) NOT NULL,
	[ws_password] [nvarchar](max) NOT NULL,
	[status] [int] NOT NULL,
	[insertion_date_time] [datetime] NOT NULL,
	[insertion_user_id] [uniqueidentifier] NULL,
	[modify_datetime] [datetime] NOT NULL,
	[modify_user_id] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[config_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Archives]    Script Date: 09/09/2025 08:10:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Archives](
	[archive_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[active] [bit] NOT NULL,
	[status] [int] NOT NULL,
	[parent_archive_id] [int] NULL,
	[owner_id] [int] NOT NULL,
	[insertion_user_id] [uniqueidentifier] NOT NULL,
	[insertion_date_time] [datetime] NOT NULL,
	[modify_user_id] [uniqueidentifier] NOT NULL,
	[modify_datetime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[archive_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AttachmentTypes]    Script Date: 09/09/2025 08:10:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttachmentTypes](
	[attachment_type_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NULL,
	[extension] [varchar](50) NULL,
	[content_type] [varchar](255) NOT NULL,
	[active] [bit] NULL,
	[status] [int] NULL,
	[insertion_date_time] [datetime] NULL,
	[insertion_user_id] [uniqueidentifier] NULL,
	[modify_datetime] [datetime] NULL,
	[modify_user_id] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[attachment_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CodingFields]    Script Date: 09/09/2025 08:10:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CodingFields](
	[coding_field_id] [int] IDENTITY(1,1) NOT NULL,
	[coding_id] [int] NOT NULL,
	[coding_field_name] [nvarchar](255) NOT NULL,
	[field_name] [nvarchar](255) NOT NULL,
	[data_type_id] [int] NOT NULL,
	[name] [nvarchar](100) NULL,
	[length] [int] NULL,
	[decimals] [int] NULL,
	[field_validation_id] [int] NULL,
	[order] [int] NULL,
	[visible_search] [bit] NOT NULL,
	[visible_result] [bit] NOT NULL,
	[visible_detail] [bit] NOT NULL,
	[active] [bit] NOT NULL,
	[status] [int] NOT NULL,
	[insertion_date_time] [datetime2](7) NOT NULL,
	[insertion_user_id] [uniqueidentifier] NULL,
	[modify_datetime] [datetime2](7) NOT NULL,
	[modify_user_id] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[coding_field_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Codings]    Script Date: 09/09/2025 08:10:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Codings](
	[coding_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[active] [bit] NOT NULL,
	[status] [int] NOT NULL,
	[insertion_date_time] [datetime2](7) NOT NULL,
	[insertion_user_id] [uniqueidentifier] NULL,
	[modify_datetime] [datetime2](7) NOT NULL,
	[modify_user_id] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[coding_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Colors]    Script Date: 09/09/2025 08:10:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Colors](
	[color_id] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[hexadecimal] [nvarchar](7) NOT NULL,
	[active] [bit] NOT NULL,
	[status] [int] NOT NULL,
	[insertion_user_id] [uniqueidentifier] NOT NULL,
	[insertion_date_time] [datetime] NOT NULL,
	[modify_user_id] [uniqueidentifier] NULL,
	[modify_datetime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[color_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConservationStatuses]    Script Date: 09/09/2025 08:10:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConservationStatuses](
	[conservation_status_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](60) NULL,
	[active] [bit] NOT NULL,
	[insertion_user_id] [uniqueidentifier] NOT NULL,
	[insertion_date_time] [datetime] NOT NULL,
	[modify_user_id] [uniqueidentifier] NOT NULL,
	[modify_datetime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[conservation_status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DataTypes]    Script Date: 09/09/2025 08:10:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DataTypes](
	[data_type_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[sql_format] [nvarchar](255) NOT NULL,
	[length] [int] NOT NULL,
	[decimals] [int] NOT NULL,
	[active] [bit] NOT NULL,
	[status] [int] NOT NULL,
	[insertion_date_time] [datetime] NOT NULL,
	[insertion_user_id] [uniqueidentifier] NULL,
	[modify_datetime] [datetime] NOT NULL,
	[modify_user_id] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[data_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DataTypesOperators]    Script Date: 09/09/2025 08:10:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DataTypesOperators](
	[data_type_id] [int] NOT NULL,
	[search_operation_id] [int] NOT NULL,
	[insertion_user_id] [uniqueidentifier] NULL,
	[insertion_date_time] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[data_type_id] ASC,
	[search_operation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DocumentOrganizationalUnits]    Script Date: 09/09/2025 08:10:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocumentOrganizationalUnits](
	[document_type_id] [int] NOT NULL,
	[document_id] [int] NOT NULL,
	[unit_organization_id] [int] NOT NULL,
	[insertion_user_id] [uniqueidentifier] NOT NULL,
	[insertion_datetime] [datetime] NOT NULL,
 CONSTRAINT [PK_document_organizational_units] PRIMARY KEY CLUSTERED 
(
	[document_type_id] ASC,
	[document_id] ASC,
	[unit_organization_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Documents_1]    Script Date: 09/09/2025 08:10:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Documents_1](
	[document_id] [int] IDENTITY(1,1) NOT NULL,
	[document_type_id] [int] NOT NULL,
	[protocol_type_id] [int] NOT NULL,
	[protocol_filing_id] [int] NULL,
	[protocol_year] [int] NULL,
	[protocol_number] [int] NULL,
	[protocol_user_id] [uniqueidentifier] NULL,
	[protocol_datetime] [datetime] NULL,
	[protocol_cancelled] [bit] NOT NULL,
	[protocol_cancelled_user_id] [uniqueidentifier] NULL,
	[protocol_cancelled_datetime] [datetime] NULL,
	[protocol_cancelled_notes] [ntext] NULL,
	[archive_id] [int] NOT NULL,
	[is_active] [bit] NOT NULL,
	[insertion_user_id] [uniqueidentifier] NOT NULL,
	[insertion_date_time] [datetime] NOT NULL,
	[modify_user_id] [uniqueidentifier] NOT NULL,
	[modify_datetime] [datetime] NOT NULL,
 CONSTRAINT [PK_documents_1] PRIMARY KEY CLUSTERED 
(
	[document_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Documents_1_Attachments]    Script Date: 09/09/2025 08:10:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Documents_1_Attachments](
	[attachment_id] [int] IDENTITY(1,1) NOT NULL,
	[document_type_id] [int] NOT NULL,
	[document_id] [int] NOT NULL,
	[attachment_name] [nvarchar](255) NOT NULL,
	[document_url] [nvarchar](max) NULL,
	[attachment_type_id] [int] NULL,
	[is_active] [bit] NOT NULL,
	[file_hash] [nvarchar](max) NULL,
	[revision_level] [nvarchar](5) NOT NULL,
	[revision_author] [nvarchar](40) NOT NULL,
	[revision_date] [datetime] NULL,
	[insertion_user_id] [uniqueidentifier] NOT NULL,
	[insertion_date_time] [datetime] NOT NULL,
	[modify_user_id] [uniqueidentifier] NOT NULL,
	[modify_datetime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[attachment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Documents_1_Conservation]    Script Date: 09/09/2025 08:10:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Documents_1_Conservation](
	[conservation_document_id] [int] IDENTITY(1,1) NOT NULL,
	[document_id] [int] NULL,
	[ipa_administration_code] [nvarchar](15) NULL,
	[administration_name] [nvarchar](60) NULL,
	[producer_subject_name] [nvarchar](25) NULL,
	[producer_subject_surname] [nvarchar](25) NULL,
	[producer_subject_fiscal_code] [nvarchar](16) NULL,
	[recipient_producer_name] [nvarchar](25) NULL,
	[recipient_producer_surname] [nvarchar](25) NULL,
	[recipient_producer_fiscal_code] [nvarchar](16) NULL,
	[responsible_name] [nvarchar](25) NULL,
	[responsible_surname] [nvarchar](25) NULL,
	[responsible_fiscal_code] [nvarchar](16) NULL,
	[closure_date] [datetime] NULL,
	[conservation_status_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[conservation_document_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Documents_1_Marks]    Script Date: 09/09/2025 08:10:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Documents_1_Marks](
	[mark_id] [int] IDENTITY(1,1) NOT NULL,
	[document_type_id] [int] NOT NULL,
	[document_id] [int] NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[mark_type_id] [int] NOT NULL,
	[expiration_date] [date] NULL,
	[is_mark_completed] [bit] NOT NULL,
	[mark_completion_date] [date] NULL,
	[insertion_datetime] [datetime] NOT NULL,
	[modify_datetime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[mark_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Documents_1_Reads]    Script Date: 09/09/2025 08:10:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Documents_1_Reads](
	[read_id] [int] IDENTITY(1,1) NOT NULL,
	[document_type_id] [int] NOT NULL,
	[document_id] [int] NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[number_of_reads] [int] NOT NULL,
	[insertion_datetime] [datetime] NOT NULL,
	[modify_datetime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[read_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DocumentType_AttachmentTypes]    Script Date: 09/09/2025 08:10:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocumentType_AttachmentTypes](
	[document_type_id] [int] NOT NULL,
	[attachment_type_id] [int] NOT NULL,
	[insertion_user_id] [uniqueidentifier] NOT NULL,
	[insertion_datetime] [datetime] NOT NULL,
 CONSTRAINT [PK_document_type_attachment_types] PRIMARY KEY CLUSTERED 
(
	[document_type_id] ASC,
	[attachment_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DocumentTypeFields]    Script Date: 09/09/2025 08:10:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocumentTypeFields](
	[document_type_field_id] [int] IDENTITY(1,1) NOT NULL,
	[document_type_id] [int] NOT NULL,
	[field_id] [int] NOT NULL,
	[encoding_id] [int] NOT NULL,
	[sorting_order] [int] NOT NULL,
	[is_modification_visible] [bit] NOT NULL,
	[is_modification_required] [bit] NOT NULL,
	[is_search_visible] [bit] NOT NULL,
	[is_result_visible] [bit] NOT NULL,
	[is_detail_visible] [bit] NOT NULL,
	[active] [bit] NOT NULL,
	[status] [int] NOT NULL,
	[modify_user_id] [uniqueidentifier] NOT NULL,
	[modify_datetime] [datetime] NOT NULL,
 CONSTRAINT [PK_document_type_fields] PRIMARY KEY CLUSTERED 
(
	[document_type_field_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DocumentTypes]    Script Date: 09/09/2025 08:10:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocumentTypes](
	[document_type_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[attachments] [bit] NOT NULL,
	[status] [int] NOT NULL,
	[active] [bit] NOT NULL,
	[url] [bit] NOT NULL,
	[document_class] [nvarchar](255) NULL,
	[file_template] [nvarchar](255) NULL,
	[conservation_namespace] [nvarchar](255) NULL,
	[insertion_user_id] [uniqueidentifier] NOT NULL,
	[insertion_date_time] [datetime] NOT NULL,
	[modify_user_id] [uniqueidentifier] NOT NULL,
	[modify_datetime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[document_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fields]    Script Date: 09/09/2025 08:10:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fields](
	[field_id] [int] IDENTITY(1,1) NOT NULL,
	[field_name] [nvarchar](255) NOT NULL,
	[default_value] [nvarchar](255) NULL,
	[other_value] [nvarchar](255) NULL,
	[data_type_id] [int] NOT NULL,
	[data_type_name] [nvarchar](100) NULL,
	[length] [int] NULL,
	[decimals] [int] NULL,
	[field_validation_id] [int] NULL,
	[status] [int] NOT NULL,
	[active] [bit] NOT NULL,
	[convert_to_uppercase] [bit] NOT NULL,
	[associated_table] [bit] NOT NULL,
	[multi_selection] [bit] NOT NULL,
	[associated_counter] [bit] NOT NULL,
	[next_available_number] [int] NULL,
	[conservation_field_name] [nvarchar](255) NULL,
	[conservation_namespace] [nvarchar](255) NULL,
	[insertion_date_time] [datetime2](7) NOT NULL,
	[insertion_user_id] [uniqueidentifier] NULL,
	[modify_datetime] [datetime2](7) NOT NULL,
	[modify_user_id] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[field_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FieldValidations]    Script Date: 09/09/2025 08:10:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FieldValidations](
	[field_validation_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[field_description] [nvarchar](max) NULL,
	[regex] [nvarchar](max) NULL,
	[active] [bit] NOT NULL,
	[status] [int] NOT NULL,
	[insertion_date_time] [datetime] NOT NULL,
	[insertion_user_id] [uniqueidentifier] NULL,
	[modify_datetime] [datetime] NOT NULL,
	[modify_user_id] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[field_validation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FillingPlanDocumentTypes]    Script Date: 09/09/2025 08:10:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FillingPlanDocumentTypes](
	[filing_plan_id] [int] NOT NULL,
	[document_type_id] [int] NOT NULL,
	[insertion_user_id] [uniqueidentifier] NOT NULL,
	[insertion_datetime] [datetime] NOT NULL,
 CONSTRAINT [PK_filing_plan_document_types] PRIMARY KEY CLUSTERED 
(
	[filing_plan_id] ASC,
	[document_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MenuSections]    Script Date: 09/09/2025 08:10:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuSections](
	[section_id] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](256) NOT NULL,
	[order] [int] NULL,
	[active] [bit] NULL,
	[insertion_date_time] [datetime] NULL,
	[insertion_user_id] [uniqueidentifier] NULL,
	[modify_datetime] [datetime] NULL,
	[modify_user_id] [uniqueidentifier] NULL,
	[status] [int] NOT NULL,
 CONSTRAINT [PK_MenuSections] PRIMARY KEY CLUSTERED 
(
	[section_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Modules]    Script Date: 09/09/2025 08:10:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Modules](
	[module_id] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](256) NOT NULL,
	[slug] [nvarchar](256) NOT NULL,
	[order] [nvarchar](256) NOT NULL,
	[active] [bit] NOT NULL,
	[insertion_date_time] [datetime] NULL,
	[insertion_user_id] [uniqueidentifier] NULL,
	[modify_datetime] [datetime] NULL,
	[modify_user_id] [uniqueidentifier] NULL,
	[section_id] [uniqueidentifier] NOT NULL,
	[status] [int] NOT NULL,
 CONSTRAINT [PK_Modules] PRIMARY KEY CLUSTERED 
(
	[module_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Operations]    Script Date: 09/09/2025 08:10:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Operations](
	[operation_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](256) NOT NULL,
	[module_id] [uniqueidentifier] NULL,
	[active] [bit] NOT NULL,
	[insertion_date_time] [datetime] NOT NULL,
	[insertion_user_id] [uniqueidentifier] NULL,
	[modify_datetime] [datetime] NOT NULL,
	[modify_user_id] [uniqueidentifier] NULL,
	[status] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[operation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Organizations]    Script Date: 09/09/2025 08:10:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Organizations](
	[organization_id] [int] NOT NULL,
	[name] [nvarchar](255) NULL,
	[subject_producer_surname] [nvarchar](255) NULL,
	[subject_producer_name] [nvarchar](255) NULL,
	[subject_producer_business_name] [nvarchar](255) NULL,
	[subject_producer_tax_code] [nvarchar](100) NULL,
	[subject_producer_vat_number] [nvarchar](100) NULL,
	[role_rup_type_subject] [nvarchar](100) NULL,
	[role_rup_surname] [nvarchar](100) NULL,
	[role_rup_name] [nvarchar](100) NULL,
	[role_rup_tax_code] [nvarchar](100) NULL,
	[role_rup_reference_address] [nvarchar](255) NULL,
	[role_rup_admin_name_ipa] [nvarchar](100) NULL,
	[role_rup_admin_name_aoo] [nvarchar](100) NULL,
	[role_rup_admin_name_uor] [nvarchar](100) NULL,
	[role_subject_effective_registration_type_subject] [nvarchar](100) NULL,
	[role_subject_effective_registration_surname] [nvarchar](100) NULL,
	[role_subject_effective_registration_name] [nvarchar](100) NULL,
	[role_subject_effective_registration_tax_code] [nvarchar](100) NULL,
	[role_subject_effective_registration_vat_number] [nvarchar](100) NULL,
	[role_subject_effective_registration_reference_address] [nvarchar](255) NULL,
	[role_subject_effective_registration_organization_name] [nvarchar](255) NULL,
	[role_subject_effective_registration_office_name] [nvarchar](255) NULL,
	[role_admin_effective_registration_type_subject] [nvarchar](100) NULL,
	[role_admin_effective_registration_reference_address] [nvarchar](255) NULL,
	[role_admin_effective_registration_admin_name_ipa] [nvarchar](100) NULL,
	[role_admin_effective_registration_admin_name_aoo] [nvarchar](100) NULL,
	[role_admin_effective_registration_admin_name_uor] [nvarchar](100) NULL,
	[role_admin_owner_type_subject] [nvarchar](100) NULL,
	[role_admin_owner_reference_address] [nvarchar](255) NULL,
	[role_admin_owner_admin_name_ipa] [nvarchar](100) NULL,
	[role_admin_owner_admin_name_aoo] [nvarchar](100) NULL,
	[role_admin_owner_admin_name_uor] [nvarchar](100) NULL,
	[role_document_management_resp_type_subject] [nvarchar](100) NULL,
	[role_document_management_resp_surname] [nvarchar](100) NULL,
	[role_document_management_resp_name] [nvarchar](100) NULL,
	[role_document_management_resp_tax_code] [nvarchar](100) NULL,
	[role_document_management_resp_reference_address] [nvarchar](255) NULL,
	[role_document_management_resp_admin_name_ipa] [nvarchar](100) NULL,
	[role_document_management_resp_admin_name_aoo] [nvarchar](100) NULL,
	[role_document_management_resp_admin_name_uor] [nvarchar](100) NULL,
	[role_admin_participants_type_subject] [nvarchar](100) NULL,
	[role_admin_participants_reference_address] [nvarchar](255) NULL,
	[role_admin_participants_admin_name_ipa] [nvarchar](100) NULL,
	[role_admin_participants_admin_name_aoo] [nvarchar](100) NULL,
	[role_admin_participants_admin_name_uor] [nvarchar](100) NULL,
	[role_admin_participants_admin_name] [nvarchar](255) NULL,
	[role_admin_participants_office_name] [nvarchar](255) NULL,
	[role_assignee_type_subject] [nvarchar](100) NULL,
	[role_assignee_surname] [nvarchar](100) NULL,
	[role_assignee_name] [nvarchar](100) NULL,
	[role_assignee_tax_code] [nvarchar](100) NULL,
	[role_assignee_reference_address] [nvarchar](255) NULL,
	[role_assignee_organization_name] [nvarchar](255) NULL,
	[role_assignee_office_name] [nvarchar](255) NULL,
	[role_protocol_service_resp_type_subject] [nvarchar](100) NULL,
	[role_protocol_service_resp_surname] [nvarchar](100) NULL,
	[role_protocol_service_resp_name] [nvarchar](100) NULL,
	[role_protocol_service_resp_tax_code] [nvarchar](100) NULL,
	[role_protocol_service_resp_reference_address] [nvarchar](255) NULL,
	[role_protocol_service_resp_admin_name_ipa] [nvarchar](100) NULL,
	[role_protocol_service_resp_admin_name_aoo] [nvarchar](100) NULL,
	[role_protocol_service_resp_admin_name_uor] [nvarchar](100) NULL,
	[role_operator_type_subject] [nvarchar](100) NULL,
	[role_operator_surname] [nvarchar](100) NULL,
	[role_operator_name] [nvarchar](100) NULL,
	[role_operator_tax_code] [nvarchar](100) NULL,
	[role_operator_reference_address] [nvarchar](255) NULL,
	[role_producer_type_subject] [nvarchar](100) NULL,
	[role_producer_system_name] [nvarchar](255) NULL,
	[status] [int] NULL,
	[insertion_date_time] [datetime] NULL,
	[insertion_user_id] [uniqueidentifier] NULL,
	[modify_datetime] [datetime] NULL,
	[modify_user_id] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[organization_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OwnerDocumentTypes]    Script Date: 09/09/2025 08:10:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OwnerDocumentTypes](
	[owner_id] [int] NOT NULL,
	[document_type_id] [int] NOT NULL,
	[insertion_user_id] [uniqueidentifier] NOT NULL,
	[insertion_date_time] [datetime] NOT NULL,
 CONSTRAINT [PK_owner_document_types] PRIMARY KEY CLUSTERED 
(
	[owner_id] ASC,
	[document_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OwnerOrganizationalUnits]    Script Date: 09/09/2025 08:10:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OwnerOrganizationalUnits](
	[owner_id] [int] NOT NULL,
	[unit_organization_id] [int] NOT NULL,
	[insertion_user_id] [uniqueidentifier] NOT NULL,
	[insertion_datetime] [datetime] NOT NULL,
 CONSTRAINT [PK_owner_organizational_units] PRIMARY KEY CLUSTERED 
(
	[owner_id] ASC,
	[unit_organization_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Owners]    Script Date: 09/09/2025 08:10:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Owners](
	[owner_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[status] [int] NOT NULL,
	[has_protocol] [bit] NOT NULL,
	[active] [bit] NOT NULL,
	[is_read_enabled] [bit] NOT NULL,
	[is_flag_enabled] [bit] NOT NULL,
	[allow_manual_protocol_number] [bit] NULL,
	[pdf_enable_protocol_signing] [bit] NULL,
	[pdf_position_x] [int] NULL,
	[pdf_position_y] [int] NULL,
	[pdf_font_type] [varchar](40) NULL,
	[pdf_font_style] [varchar](40) NULL,
	[pdf_font_size] [int] NULL,
	[pdf_phrase_to_insert] [varchar](255) NULL,
	[pdf_ask_for_confirmation] [bit] NULL,
	[doc_enable_protocol_signing] [bit] NULL,
	[doc_bookmark_name] [varchar](30) NULL,
	[doc_phrase_to_insert] [varchar](255) NULL,
	[doc_ask_for_confirmation] [bit] NULL,
	[is_document_conservation_enabled] [bit] NOT NULL,
	[send_documents_for_automatic_conservation] [bit] NOT NULL,
	[is_rgp_conservation_enabled] [bit] NOT NULL,
	[send_rgp_for_automatic_conservation] [bit] NOT NULL,
	[rgp_conservation_namespace] [nvarchar](255) NULL,
	[rgp_document_class] [nvarchar](255) NULL,
	[doc_archiving_type] [int] NULL,
	[notify_user_of_new_documents] [bit] NOT NULL,
	[notify_user_of_modified_documents] [bit] NOT NULL,
	[notify_user_of_deleted_documents] [bit] NOT NULL,
	[pdf_text_orientation] [int] NOT NULL,
	[activate_structure_expandability] [bit] NULL,
	[show_expanded_structure] [bit] NULL,
	[insertion_user_id] [uniqueidentifier] NOT NULL,
	[insertion_date_time] [datetime] NOT NULL,
	[modify_user_id] [uniqueidentifier] NOT NULL,
	[modify_datetime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[owner_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProtocolLabelElements]    Script Date: 09/09/2025 08:10:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProtocolLabelElements](
	[protocol_label_element_id] [int] IDENTITY(1,1) NOT NULL,
	[protocol_label_id] [int] NOT NULL,
	[position_x] [int] NOT NULL,
	[position_y] [int] NOT NULL,
	[rotation] [int] NOT NULL,
	[text_size] [int] NOT NULL,
	[protocol_label_element_type_id] [int] NOT NULL,
	[height] [int] NULL,
	[width] [int] NULL,
	[document_type_field_id] [int] NULL,
	[label] [bit] NULL,
	[text] [nvarchar](255) NULL,
	[active] [bit] NOT NULL,
	[status] [int] NOT NULL,
	[insertion_user_id] [uniqueidentifier] NOT NULL,
	[insertion_date_time] [datetime] NOT NULL,
	[modify_user_id] [uniqueidentifier] NOT NULL,
	[modify_datetime] [datetime] NOT NULL,
 CONSTRAINT [PK_ProtocolLabelElements] PRIMARY KEY CLUSTERED 
(
	[protocol_label_element_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProtocolLabelElementTypes]    Script Date: 09/09/2025 08:10:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProtocolLabelElementTypes](
	[protocol_label_element_type_id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Active] [bit] NOT NULL,
	[Status] [int] NOT NULL,
	[insertion_date_time] [datetime] NOT NULL,
	[insertion_user_id] [uniqueidentifier] NULL,
	[modify_datetime] [datetime] NOT NULL,
	[modify_user_id] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[protocol_label_element_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProtocolLabels]    Script Date: 09/09/2025 08:10:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProtocolLabels](
	[protocol_label_id] [int] IDENTITY(1,1) NOT NULL,
	[document_type_id] [int] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[height] [int] NOT NULL,
	[width] [int] NOT NULL,
	[active] [bit] NOT NULL,
	[insertion_user_id] [uniqueidentifier] NOT NULL,
	[insertion_date_time] [datetime] NOT NULL,
	[modify_user_id] [uniqueidentifier] NOT NULL,
	[modify_datetime] [datetime] NOT NULL,
	[status] [int] NOT NULL,
 CONSTRAINT [PK_ProtocolLabels] PRIMARY KEY CLUSTERED 
(
	[protocol_label_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProtocolType]    Script Date: 09/09/2025 08:10:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProtocolType](
	[protocol_type_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NOT NULL,
	[active] [bit] NOT NULL,
	[insertion_user_id] [uniqueidentifier] NOT NULL,
	[insertion_date_time] [datetime] NOT NULL,
	[modify_user_id] [uniqueidentifier] NOT NULL,
	[modify_datetime] [datetime] NOT NULL,
	[status] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[protocol_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleModuleOperations]    Script Date: 09/09/2025 08:10:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleModuleOperations](
	[role_id] [uniqueidentifier] NOT NULL,
	[module_id] [uniqueidentifier] NOT NULL,
	[operation_id] [int] NOT NULL,
	[insertion_date_time] [datetime] NOT NULL,
	[insertion_user_id] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC,
	[module_id] ASC,
	[operation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleModules]    Script Date: 09/09/2025 08:10:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleModules](
	[role_id] [uniqueidentifier] NOT NULL,
	[module_id] [uniqueidentifier] NOT NULL,
	[insertion_date_time] [datetime] NOT NULL,
	[insertion_user_id] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC,
	[module_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 09/09/2025 08:10:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[role_id] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](256) NULL,
	[value] [nvarchar](256) NULL,
	[active] [bit] NULL,
	[insertion_date_time] [datetime] NULL,
	[insertion_user_id] [uniqueidentifier] NULL,
	[modify_datetime] [datetime] NULL,
	[modify_user_id] [uniqueidentifier] NULL,
	[status] [int] NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SearchOperation]    Script Date: 09/09/2025 08:10:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SearchOperation](
	[search_operation_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NOT NULL,
	[active] [bit] NOT NULL,
	[insertion_user_id] [uniqueidentifier] NOT NULL,
	[insertion_date_time] [datetime] NOT NULL,
	[modify_user_id] [uniqueidentifier] NOT NULL,
	[modify_datetime] [datetime] NOT NULL,
	[status] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[search_operation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Signatures]    Script Date: 09/09/2025 08:10:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Signatures](
	[signature_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[signature_text] [nvarchar](max) NOT NULL,
	[default_signature] [bit] NULL,
	[active] [bit] NULL,
	[status] [int] NOT NULL,
	[insertion_date_time] [datetime] NOT NULL,
	[insertion_user_id] [uniqueidentifier] NULL,
	[modify_datetime] [datetime] NOT NULL,
	[modify_user_id] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[signature_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeOfMarking]    Script Date: 09/09/2025 08:10:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeOfMarking](
	[marking_type_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[hexadecimal] [nvarchar](7) NOT NULL,
	[expiry_days] [int] NOT NULL,
	[active] [bit] NOT NULL,
	[has_expiry] [bit] NOT NULL,
	[expiry_notification_days] [int] NOT NULL,
	[notify_expiry_email] [bit] NOT NULL,
	[notify_expiry_desktop] [bit] NOT NULL,
	[status] [int] NOT NULL,
	[insertion_date_time] [datetime] NOT NULL,
	[insertion_user_id] [uniqueidentifier] NULL,
	[modify_datetime] [datetime] NOT NULL,
	[modify_user_id] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[marking_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeOfMarkingInUsers]    Script Date: 09/09/2025 08:10:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeOfMarkingInUsers](
	[marking_type_id] [int] NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[insertion_date_time] [datetime] NOT NULL,
	[insertion_user_id] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_TypeOfMarkingInUsers] PRIMARY KEY CLUSTERED 
(
	[marking_type_id] ASC,
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UnitOrganizations]    Script Date: 09/09/2025 08:10:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UnitOrganizations](
	[unit_organization_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[parent_unit_organization_id] [int] NULL,
	[super] [bit] NOT NULL,
	[active] [bit] NOT NULL,
	[status] [bit] NOT NULL,
	[insertion_user_id] [uniqueidentifier] NULL,
	[insertion_date_time] [datetime] NOT NULL,
	[modify_user_id] [uniqueidentifier] NULL,
	[modify_datetime] [datetime] NOT NULL,
 CONSTRAINT [PK_UnitOrganizations] PRIMARY KEY CLUSTERED 
(
	[unit_organization_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 09/09/2025 08:10:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[user_id] [uniqueidentifier] NOT NULL,
	[role_id] [uniqueidentifier] NOT NULL,
	[insertion_date_time] [datetime] NOT NULL,
	[insertion_user_id] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 09/09/2025 08:10:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [uniqueidentifier] NOT NULL,
	[user_name] [varchar](100) NOT NULL,
	[name] [varchar](200) NOT NULL,
	[password] [varchar](500) NOT NULL,
	[email] [varchar](200) NOT NULL,
	[password_expiration_datetime] [datetime] NOT NULL,
	[active] [bit] NULL,
	[super] [bit] NULL,
	[insertion_date_time] [datetime] NOT NULL,
	[insertion_user_id] [uniqueidentifier] NULL,
	[modify_datetime] [datetime] NOT NULL,
	[modify_user_id] [uniqueidentifier] NULL,
	[authorized_to_access_via_web_service] [bit] NOT NULL,
	[status] [int] NOT NULL,
	[organization_id] [int] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserUnitOrganizations]    Script Date: 09/09/2025 08:10:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserUnitOrganizations](
	[user_id] [uniqueidentifier] NOT NULL,
	[unit_organization_id] [int] NOT NULL,
	[insertion_date_time] [datetime] NOT NULL,
	[insertion_user_id] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[unit_organization_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AppConfig] ON 

SET IDENTITY_INSERT [dbo].[AppConfig] OFF
GO
SET IDENTITY_INSERT [dbo].[AttachmentTypes] ON 

INSERT [dbo].[AttachmentTypes] ([attachment_type_id], [name], [extension], [content_type], [active], [status], [insertion_date_time], [insertion_user_id], [modify_datetime], [modify_user_id]) VALUES (1, N'DWG Drawinga', N'.dwgs', N'image/vnd.dwgs', 1, 0, CAST(N'2025-08-19T15:35:34.170' AS DateTime), N'e190b468-c9d5-4f39-8df2-24f18eb173bf', CAST(N'2025-08-19T15:35:34.170' AS DateTime), N'e190b468-c9d5-4f39-8df2-24f18eb173bf')
INSERT [dbo].[AttachmentTypes] ([attachment_type_id], [name], [extension], [content_type], [active], [status], [insertion_date_time], [insertion_user_id], [modify_datetime], [modify_user_id]) VALUES (2, N'ddd', N'.dwg', N'image/vnd.dwg', 1, 0, CAST(N'2025-08-19T15:59:31.860' AS DateTime), N'e190b468-c9d5-4f39-8df2-24f18eb173bf', CAST(N'2025-08-19T15:59:31.860' AS DateTime), N'e190b468-c9d5-4f39-8df2-24f18eb173bf')
SET IDENTITY_INSERT [dbo].[AttachmentTypes] OFF
GO
INSERT [dbo].[Colors] ([color_id], [name], [hexadecimal], [active], [status], [insertion_user_id], [insertion_date_time], [modify_user_id], [modify_datetime]) VALUES (N'f687266f-bdc8-4473-9168-00e7a1d4fba6', N'Celeste', N'#99CBFF', 1, 1, N'e190b468-c9d5-4f39-8df2-24f18eb173bf', CAST(N'2015-06-15T00:00:00.000' AS DateTime), N'e190b468-c9d5-4f39-8df2-24f18eb173bf', CAST(N'2015-06-15T00:00:00.000' AS DateTime))
INSERT [dbo].[Colors] ([color_id], [name], [hexadecimal], [active], [status], [insertion_user_id], [insertion_date_time], [modify_user_id], [modify_datetime]) VALUES (N'434f8d9f-9301-41ff-8438-00f197710e49', N'Ajaydsfasdfas OK', N'#03254', 0, 0, N'e190b468-c9d5-4f39-8df2-24f18eb173bf', CAST(N'2025-07-03T21:08:45.563' AS DateTime), N'e190b468-c9d5-4f39-8df2-24f18eb173bf', CAST(N'2025-07-03T21:08:45.563' AS DateTime))
INSERT [dbo].[Colors] ([color_id], [name], [hexadecimal], [active], [status], [insertion_user_id], [insertion_date_time], [modify_user_id], [modify_datetime]) VALUES (N'3db92f35-fbe1-43a6-bc30-0213c7e4f704', N'AjayRathour', N'#03254', 0, 0, N'e190b468-c9d5-4f39-8df2-24f18eb173bf', CAST(N'2025-07-18T15:13:03.207' AS DateTime), N'e190b468-c9d5-4f39-8df2-24f18eb173bf', CAST(N'2025-07-18T15:13:03.207' AS DateTime))
GO
INSERT [dbo].[MenuSections] ([section_id], [name], [order], [active], [insertion_date_time], [insertion_user_id], [modify_datetime], [modify_user_id], [status]) VALUES (N'07a89e63-0490-47d2-9d69-4b0cd037556c', N'xxxxxx', 22, 1, CAST(N'2025-08-19T13:32:58.480' AS DateTime), N'e190b468-c9d5-4f39-8df2-24f18eb173bf', CAST(N'2025-08-19T13:32:58.480' AS DateTime), N'e190b468-c9d5-4f39-8df2-24f18eb173bf', 0)
INSERT [dbo].[MenuSections] ([section_id], [name], [order], [active], [insertion_date_time], [insertion_user_id], [modify_datetime], [modify_user_id], [status]) VALUES (N'80c0ae73-c1b2-4905-ac6e-a3463b117e6a', N'Applicativo', 3, 1, CAST(N'2025-06-19T17:00:08.700' AS DateTime), N'e190b468-c9d5-4f39-8df2-24f18eb173bf', CAST(N'2025-06-19T17:00:08.700' AS DateTime), N'e190b468-c9d5-4f39-8df2-24f18eb173bf', 1)
INSERT [dbo].[MenuSections] ([section_id], [name], [order], [active], [insertion_date_time], [insertion_user_id], [modify_datetime], [modify_user_id], [status]) VALUES (N'0e30d725-e257-4c1b-a066-a74266baf53f', N'sdf', 1, 1, CAST(N'2025-08-19T13:32:41.387' AS DateTime), N'e190b468-c9d5-4f39-8df2-24f18eb173bf', CAST(N'2025-08-19T13:32:41.387' AS DateTime), N'e190b468-c9d5-4f39-8df2-24f18eb173bf', 0)
GO
INSERT [dbo].[Modules] ([module_id], [name], [slug], [order], [active], [insertion_date_time], [insertion_user_id], [modify_datetime], [modify_user_id], [section_id], [status]) VALUES (N'0e339d5f-fecc-4943-8aab-27280af1237d', N'Log Utenti', N'log-utenti', N'0', 1, CAST(N'2025-06-19T17:24:05.063' AS DateTime), N'e190b468-c9d5-4f39-8df2-24f18eb173bf', CAST(N'2025-07-09T13:25:57.397' AS DateTime), N'e190b468-c9d5-4f39-8df2-24f18eb173bf', N'eb19aa96-d2a7-45c0-bd56-e4426110f22d', 1)
INSERT [dbo].[Modules] ([module_id], [name], [slug], [order], [active], [insertion_date_time], [insertion_user_id], [modify_datetime], [modify_user_id], [section_id], [status]) VALUES (N'8de39303-832f-47dd-8a0c-290a1cf8c74f', N'Uscita', N'uscita', N'0', 1, CAST(N'2025-06-19T18:11:49.193' AS DateTime), N'e190b468-c9d5-4f39-8df2-24f18eb173bf', CAST(N'2025-07-09T13:37:04.297' AS DateTime), N'e190b468-c9d5-4f39-8df2-24f18eb173bf', N'1ca85081-fa20-4404-b0e4-a8aceab2cda0', 1)
INSERT [dbo].[Modules] ([module_id], [name], [slug], [order], [active], [insertion_date_time], [insertion_user_id], [modify_datetime], [modify_user_id], [section_id], [status]) VALUES (N'0662f488-ca01-4097-a5e9-2efe30bf673d', N'Messaggi di posta', N'messaggi-di-posta', N'1', 1, CAST(N'2025-06-19T17:18:38.103' AS DateTime), N'e190b468-c9d5-4f39-8df2-24f18eb173bf', CAST(N'2025-08-18T13:31:07.173' AS DateTime), N'e190b468-c9d5-4f39-8df2-24f18eb173bf', N'36a6da5d-a009-457c-9c6d-e88199dc1a09', 1)
GO
SET IDENTITY_INSERT [dbo].[Operations] ON 

INSERT [dbo].[Operations] ([operation_id], [name], [module_id], [active], [insertion_date_time], [insertion_user_id], [modify_datetime], [modify_user_id], [status]) VALUES (1, N'Applica contrassegno', N'1bf93b68-22a4-4c6d-b1f3-e7657bf3ac8b', 1, CAST(N'2025-06-24T13:13:55.203' AS DateTime), N'e190b468-c9d5-4f39-8df2-24f18eb173bf', CAST(N'2025-06-24T13:13:55.203' AS DateTime), N'e190b468-c9d5-4f39-8df2-24f18eb173bf', 1)
INSERT [dbo].[Operations] ([operation_id], [name], [module_id], [active], [insertion_date_time], [insertion_user_id], [modify_datetime], [modify_user_id], [status]) VALUES (2, N'Download allegati', N'1bf93b68-22a4-4c6d-b1f3-e7657bf3ac8b', 1, CAST(N'2025-06-24T13:24:06.713' AS DateTime), N'e190b468-c9d5-4f39-8df2-24f18eb173bf', CAST(N'2025-06-24T13:24:06.713' AS DateTime), N'e190b468-c9d5-4f39-8df2-24f18eb173bf', 1)
INSERT [dbo].[Operations] ([operation_id], [name], [module_id], [active], [insertion_date_time], [insertion_user_id], [modify_datetime], [modify_user_id], [status]) VALUES (3, N'Esportazione documenti', N'1bf93b68-22a4-4c6d-b1f3-e7657bf3ac8b', 1, CAST(N'2025-06-24T13:24:25.107' AS DateTime), N'e190b468-c9d5-4f39-8df2-24f18eb173bf', CAST(N'2025-06-24T13:24:25.107' AS DateTime), N'e190b468-c9d5-4f39-8df2-24f18eb173bf', 1)
SET IDENTITY_INSERT [dbo].[Operations] OFF
GO
INSERT [dbo].[RoleModuleOperations] ([role_id], [module_id], [operation_id], [insertion_date_time], [insertion_user_id]) VALUES (N'97dcb3e8-8a62-4852-9d16-2a9db3285aae', N'0662f488-ca01-4097-a5e9-2efe30bf673d', 15, CAST(N'2025-08-18T13:31:12.700' AS DateTime), N'e190b468-c9d5-4f39-8df2-24f18eb173bf')
INSERT [dbo].[RoleModuleOperations] ([role_id], [module_id], [operation_id], [insertion_date_time], [insertion_user_id]) VALUES (N'bb8d7126-466a-4790-95c4-361b0cc2fb75', N'8de39303-832f-47dd-8a0c-290a1cf8c74f', 34, CAST(N'2025-07-09T13:22:24.220' AS DateTime), N'e190b468-c9d5-4f39-8df2-24f18eb173bf')
INSERT [dbo].[RoleModuleOperations] ([role_id], [module_id], [operation_id], [insertion_date_time], [insertion_user_id]) VALUES (N'bb8d7126-466a-4790-95c4-361b0cc2fb75', N'8de39303-832f-47dd-8a0c-290a1cf8c74f', 35, CAST(N'2025-07-09T13:22:24.220' AS DateTime), N'e190b468-c9d5-4f39-8df2-24f18eb173bf')
GO
INSERT [dbo].[RoleModules] ([role_id], [module_id], [insertion_date_time], [insertion_user_id]) VALUES (N'97dcb3e8-8a62-4852-9d16-2a9db3285aae', N'0662f488-ca01-4097-a5e9-2efe30bf673d', CAST(N'2025-08-18T13:32:40.967' AS DateTime), N'e190b468-c9d5-4f39-8df2-24f18eb173bf')
INSERT [dbo].[RoleModules] ([role_id], [module_id], [insertion_date_time], [insertion_user_id]) VALUES (N'bb8d7126-466a-4790-95c4-361b0cc2fb75', N'0e339d5f-fecc-4943-8aab-27280af1237d', CAST(N'2025-08-12T11:29:26.470' AS DateTime), N'e190b468-c9d5-4f39-8df2-24f18eb173bf')
INSERT [dbo].[RoleModules] ([role_id], [module_id], [insertion_date_time], [insertion_user_id]) VALUES (N'bb8d7126-466a-4790-95c4-361b0cc2fb75', N'8de39303-832f-47dd-8a0c-290a1cf8c74f', CAST(N'2025-08-12T11:29:26.473' AS DateTime), N'e190b468-c9d5-4f39-8df2-24f18eb173bf')
GO
INSERT [dbo].[Roles] ([role_id], [name], [value], [active], [insertion_date_time], [insertion_user_id], [modify_datetime], [modify_user_id], [status]) VALUES (N'97dcb3e8-8a62-4852-9d16-2a9db3285aae', N'Testing once again', N'testing-once-again', 1, CAST(N'2025-08-18T13:07:25.987' AS DateTime), N'e190b468-c9d5-4f39-8df2-24f18eb173bf', CAST(N'2025-08-18T13:07:25.987' AS DateTime), N'e190b468-c9d5-4f39-8df2-24f18eb173bf', 1)
INSERT [dbo].[Roles] ([role_id], [name], [value], [active], [insertion_date_time], [insertion_user_id], [modify_datetime], [modify_user_id], [status]) VALUES (N'bb8d7126-466a-4790-95c4-361b0cc2fb75', N'Administrator', N'administrator', 1, CAST(N'2025-06-20T12:33:50.127' AS DateTime), N'e190b468-c9d5-4f39-8df2-24f18eb173bf', CAST(N'2025-06-20T12:33:50.127' AS DateTime), N'e190b468-c9d5-4f39-8df2-24f18eb173bf', 1)
INSERT [dbo].[Roles] ([role_id], [name], [value], [active], [insertion_date_time], [insertion_user_id], [modify_datetime], [modify_user_id], [status]) VALUES (N'da4f10f6-ce27-4165-8074-b576b189c337', N'Testing New Role once again', N'testing-new-role', 1, CAST(N'2025-08-18T13:07:01.527' AS DateTime), N'e190b468-c9d5-4f39-8df2-24f18eb173bf', CAST(N'2025-08-18T13:07:01.527' AS DateTime), N'e190b468-c9d5-4f39-8df2-24f18eb173bf', 0)
GO
SET IDENTITY_INSERT [dbo].[SearchOperation] ON 

INSERT [dbo].[SearchOperation] ([search_operation_id], [name], [active], [insertion_user_id], [insertion_date_time], [modify_user_id], [modify_datetime], [status]) VALUES (1, N'Almeno una parolas', 1, N'e190b468-c9d5-4f39-8df2-24f18eb173bf', CAST(N'2025-08-19T15:30:54.860' AS DateTime), N'e190b468-c9d5-4f39-8df2-24f18eb173bf', CAST(N'2025-08-19T15:30:54.860' AS DateTime), 0)
INSERT [dbo].[SearchOperation] ([search_operation_id], [name], [active], [insertion_user_id], [insertion_date_time], [modify_user_id], [modify_datetime], [status]) VALUES (2, N'ddd', 1, N'e190b468-c9d5-4f39-8df2-24f18eb173bf', CAST(N'2025-08-19T15:38:47.270' AS DateTime), N'e190b468-c9d5-4f39-8df2-24f18eb173bf', CAST(N'2025-08-19T15:38:47.270' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[SearchOperation] OFF
GO
SET IDENTITY_INSERT [dbo].[Signatures] ON 

INSERT [dbo].[Signatures] ([signature_id], [name], [signature_text], [default_signature], [active], [status], [insertion_date_time], [insertion_user_id], [modify_datetime], [modify_user_id]) VALUES (1, N'Aziendale - DOCUMATIC', N'Francesco Arcidiacono
Soft Works 2000 Srl
Tel. 06.21116874 – Cell. 349.8801068
f.arcidiacono@softworks2000.eu

Il sito WEB di DOCUMATIC è https://www.documatic.it', 1, 1, 1, CAST(N'2025-08-18T17:10:08.870' AS DateTime), N'8cc8e701-e758-4ac5-9471-9e107121996c', CAST(N'2025-08-18T17:10:08.870' AS DateTime), N'8cc8e701-e758-4ac5-9471-9e107121996c')
SET IDENTITY_INSERT [dbo].[Signatures] OFF
GO
SET IDENTITY_INSERT [dbo].[UnitOrganizations] ON 

INSERT [dbo].[UnitOrganizations] ([unit_organization_id], [name], [parent_unit_organization_id], [super], [active], [status], [insertion_user_id], [insertion_date_time], [modify_user_id], [modify_datetime]) VALUES (1, N'Azienda / Studio', NULL, 1, 1, 1, N'e190b468-c9d5-4f39-8df2-24f18eb173bf', CAST(N'2025-07-04T19:14:33.210' AS DateTime), N'e190b468-c9d5-4f39-8df2-24f18eb173bf', CAST(N'2025-07-04T19:14:33.210' AS DateTime))
INSERT [dbo].[UnitOrganizations] ([unit_organization_id], [name], [parent_unit_organization_id], [super], [active], [status], [insertion_user_id], [insertion_date_time], [modify_user_id], [modify_datetime]) VALUES (2, N'Testing once more', 1, 0, 1, 1, N'e190b468-c9d5-4f39-8df2-24f18eb173bf', CAST(N'2025-08-18T15:58:32.030' AS DateTime), N'e190b468-c9d5-4f39-8df2-24f18eb173bf', CAST(N'2025-08-18T15:58:32.030' AS DateTime))
SET IDENTITY_INSERT [dbo].[UnitOrganizations] OFF
GO
INSERT [dbo].[UserRoles] ([user_id], [role_id], [insertion_date_time], [insertion_user_id]) VALUES (N'e190b468-c9d5-4f39-8df2-24f18eb173bf', N'bb8d7126-466a-4790-95c4-361b0cc2fb75', CAST(N'2025-07-07T18:21:07.710' AS DateTime), N'e190b468-c9d5-4f39-8df2-24f18eb173bf')
INSERT [dbo].[UserRoles] ([user_id], [role_id], [insertion_date_time], [insertion_user_id]) VALUES (N'8cc8e701-e758-4ac5-9471-9e107121996c', N'5008eda9-3993-4fa5-bfe1-d868a7ccd88e', CAST(N'2025-08-18T16:22:39.083' AS DateTime), N'e190b468-c9d5-4f39-8df2-24f18eb173bf')
INSERT [dbo].[UserRoles] ([user_id], [role_id], [insertion_date_time], [insertion_user_id]) VALUES (N'8cc8e701-e758-4ac5-9471-9e107121996c', N'4bb5badc-cced-4c72-b10e-d9bd9265bc9c', CAST(N'2025-08-18T16:22:39.083' AS DateTime), N'e190b468-c9d5-4f39-8df2-24f18eb173bf')
GO
INSERT [dbo].[UserUnitOrganizations] ([user_id], [unit_organization_id], [insertion_date_time], [insertion_user_id]) VALUES (N'e190b468-c9d5-4f39-8df2-24f18eb173bf', 1, CAST(N'2025-07-07T18:21:07.713' AS DateTime), N'e190b468-c9d5-4f39-8df2-24f18eb173bf')
INSERT [dbo].[UserUnitOrganizations] ([user_id], [unit_organization_id], [insertion_date_time], [insertion_user_id]) VALUES (N'8cc8e701-e758-4ac5-9471-9e107121996c', 1, CAST(N'2025-08-18T16:22:39.090' AS DateTime), N'e190b468-c9d5-4f39-8df2-24f18eb173bf')
INSERT [dbo].[UserUnitOrganizations] ([user_id], [unit_organization_id], [insertion_date_time], [insertion_user_id]) VALUES (N'a9446279-ec0e-4844-96b9-f6314ec190cb', 1, CAST(N'2025-08-18T16:19:45.007' AS DateTime), N'e190b468-c9d5-4f39-8df2-24f18eb173bf')
GO
/****** Object:  Index [UQ_reads]    Script Date: 09/09/2025 08:10:15 PM ******/
ALTER TABLE [dbo].[Documents_1_Reads] ADD  CONSTRAINT [UQ_reads] UNIQUE NONCLUSTERED 
(
	[document_type_id] ASC,
	[document_id] ASC,
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__MenuSect__72E12F1BD67E26F5]    Script Date: 09/09/2025 08:10:15 PM ******/
ALTER TABLE [dbo].[MenuSections] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Modules__32DD1E4CF6E16181]    Script Date: 09/09/2025 08:10:15 PM ******/
ALTER TABLE [dbo].[Modules] ADD UNIQUE NONCLUSTERED 
(
	[slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Modules__72E12F1B896FE375]    Script Date: 09/09/2025 08:10:15 PM ******/
ALTER TABLE [dbo].[Modules] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__40BBEA3A1E7EB837]    Script Date: 09/09/2025 08:10:15 PM ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[value] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__72E12F1BEA38925A]    Script Date: 09/09/2025 08:10:15 PM ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AppConfig] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[AppConfig] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[AppConfig] ADD  DEFAULT (getdate()) FOR [insertion_date_time]
GO
ALTER TABLE [dbo].[AppConfig] ADD  DEFAULT (getdate()) FOR [modify_datetime]
GO
ALTER TABLE [dbo].[Archives] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[Archives] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[AttachmentTypes] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[AttachmentTypes] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[AttachmentTypes] ADD  DEFAULT (getdate()) FOR [insertion_date_time]
GO
ALTER TABLE [dbo].[AttachmentTypes] ADD  DEFAULT (getdate()) FOR [modify_datetime]
GO
ALTER TABLE [dbo].[CodingFields] ADD  DEFAULT ((0)) FOR [visible_search]
GO
ALTER TABLE [dbo].[CodingFields] ADD  DEFAULT ((0)) FOR [visible_result]
GO
ALTER TABLE [dbo].[CodingFields] ADD  DEFAULT ((0)) FOR [visible_detail]
GO
ALTER TABLE [dbo].[CodingFields] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[CodingFields] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[CodingFields] ADD  DEFAULT (getdate()) FOR [insertion_date_time]
GO
ALTER TABLE [dbo].[CodingFields] ADD  DEFAULT (getdate()) FOR [modify_datetime]
GO
ALTER TABLE [dbo].[Codings] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[Codings] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[Codings] ADD  DEFAULT (sysdatetime()) FOR [insertion_date_time]
GO
ALTER TABLE [dbo].[Codings] ADD  DEFAULT (sysdatetime()) FOR [modify_datetime]
GO
ALTER TABLE [dbo].[Colors] ADD  DEFAULT (newid()) FOR [color_id]
GO
ALTER TABLE [dbo].[Colors] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[Colors] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[Colors] ADD  DEFAULT (getdate()) FOR [insertion_date_time]
GO
ALTER TABLE [dbo].[DataTypes] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[DataTypes] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[DataTypes] ADD  DEFAULT (getdate()) FOR [insertion_date_time]
GO
ALTER TABLE [dbo].[DataTypes] ADD  DEFAULT (getdate()) FOR [modify_datetime]
GO
ALTER TABLE [dbo].[Documents_1] ADD  CONSTRAINT [DF_documents_1_protocol_type_id]  DEFAULT ((1)) FOR [protocol_type_id]
GO
ALTER TABLE [dbo].[Documents_1] ADD  CONSTRAINT [DF_documents_1_protocol_cancelled]  DEFAULT ((0)) FOR [protocol_cancelled]
GO
ALTER TABLE [dbo].[Documents_1] ADD  CONSTRAINT [DF_documents_1_is_active]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Documents_1_Attachments] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Documents_1_Marks] ADD  DEFAULT ((0)) FOR [is_mark_completed]
GO
ALTER TABLE [dbo].[DocumentTypeFields] ADD  DEFAULT ((0)) FOR [field_id]
GO
ALTER TABLE [dbo].[DocumentTypeFields] ADD  DEFAULT ((0)) FOR [encoding_id]
GO
ALTER TABLE [dbo].[DocumentTypeFields] ADD  DEFAULT ((1)) FOR [sorting_order]
GO
ALTER TABLE [dbo].[DocumentTypeFields] ADD  DEFAULT ((0)) FOR [is_modification_visible]
GO
ALTER TABLE [dbo].[DocumentTypeFields] ADD  DEFAULT ((0)) FOR [is_modification_required]
GO
ALTER TABLE [dbo].[DocumentTypeFields] ADD  DEFAULT ((0)) FOR [is_search_visible]
GO
ALTER TABLE [dbo].[DocumentTypeFields] ADD  DEFAULT ((0)) FOR [is_result_visible]
GO
ALTER TABLE [dbo].[DocumentTypeFields] ADD  DEFAULT ((0)) FOR [is_detail_visible]
GO
ALTER TABLE [dbo].[DocumentTypeFields] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[DocumentTypeFields] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[DocumentTypes] ADD  DEFAULT ((0)) FOR [attachments]
GO
ALTER TABLE [dbo].[DocumentTypes] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[DocumentTypes] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[DocumentTypes] ADD  DEFAULT ((0)) FOR [url]
GO
ALTER TABLE [dbo].[Fields] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[Fields] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[Fields] ADD  DEFAULT ((0)) FOR [convert_to_uppercase]
GO
ALTER TABLE [dbo].[Fields] ADD  DEFAULT ((0)) FOR [associated_table]
GO
ALTER TABLE [dbo].[Fields] ADD  DEFAULT ((0)) FOR [multi_selection]
GO
ALTER TABLE [dbo].[Fields] ADD  DEFAULT ((0)) FOR [associated_counter]
GO
ALTER TABLE [dbo].[Fields] ADD  DEFAULT (sysdatetime()) FOR [insertion_date_time]
GO
ALTER TABLE [dbo].[Fields] ADD  DEFAULT (sysdatetime()) FOR [modify_datetime]
GO
ALTER TABLE [dbo].[FieldValidations] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[FieldValidations] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[FieldValidations] ADD  DEFAULT (getdate()) FOR [insertion_date_time]
GO
ALTER TABLE [dbo].[FieldValidations] ADD  DEFAULT (getdate()) FOR [modify_datetime]
GO
ALTER TABLE [dbo].[MenuSections] ADD  DEFAULT (newid()) FOR [section_id]
GO
ALTER TABLE [dbo].[MenuSections] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[Modules] ADD  DEFAULT (newid()) FOR [module_id]
GO
ALTER TABLE [dbo].[Modules] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[Modules] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[Operations] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[Operations] ADD  DEFAULT (getdate()) FOR [insertion_date_time]
GO
ALTER TABLE [dbo].[Operations] ADD  DEFAULT (getdate()) FOR [modify_datetime]
GO
ALTER TABLE [dbo].[Operations] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[Organizations] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[Organizations] ADD  DEFAULT (getdate()) FOR [insertion_date_time]
GO
ALTER TABLE [dbo].[Organizations] ADD  DEFAULT (getdate()) FOR [modify_datetime]
GO
ALTER TABLE [dbo].[Owners] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[Owners] ADD  DEFAULT ((0)) FOR [has_protocol]
GO
ALTER TABLE [dbo].[Owners] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[Owners] ADD  DEFAULT ((0)) FOR [is_read_enabled]
GO
ALTER TABLE [dbo].[Owners] ADD  DEFAULT ((0)) FOR [is_flag_enabled]
GO
ALTER TABLE [dbo].[Owners] ADD  DEFAULT ((0)) FOR [is_document_conservation_enabled]
GO
ALTER TABLE [dbo].[Owners] ADD  DEFAULT ((0)) FOR [send_documents_for_automatic_conservation]
GO
ALTER TABLE [dbo].[Owners] ADD  DEFAULT ((0)) FOR [is_rgp_conservation_enabled]
GO
ALTER TABLE [dbo].[Owners] ADD  DEFAULT ((0)) FOR [send_rgp_for_automatic_conservation]
GO
ALTER TABLE [dbo].[Owners] ADD  DEFAULT ((0)) FOR [notify_user_of_new_documents]
GO
ALTER TABLE [dbo].[Owners] ADD  DEFAULT ((0)) FOR [notify_user_of_modified_documents]
GO
ALTER TABLE [dbo].[Owners] ADD  DEFAULT ((0)) FOR [notify_user_of_deleted_documents]
GO
ALTER TABLE [dbo].[Owners] ADD  DEFAULT ((1)) FOR [pdf_text_orientation]
GO
ALTER TABLE [dbo].[Owners] ADD  DEFAULT ((0)) FOR [activate_structure_expandability]
GO
ALTER TABLE [dbo].[Owners] ADD  DEFAULT ((1)) FOR [show_expanded_structure]
GO
ALTER TABLE [dbo].[ProtocolLabelElements] ADD  DEFAULT ((0)) FOR [rotation]
GO
ALTER TABLE [dbo].[ProtocolLabelElements] ADD  DEFAULT ((0)) FOR [text_size]
GO
ALTER TABLE [dbo].[ProtocolLabelElements] ADD  DEFAULT ((0)) FOR [height]
GO
ALTER TABLE [dbo].[ProtocolLabelElements] ADD  DEFAULT ((0)) FOR [width]
GO
ALTER TABLE [dbo].[ProtocolLabelElements] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[ProtocolLabelElements] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[ProtocolLabelElementTypes] ADD  DEFAULT ((0)) FOR [Active]
GO
ALTER TABLE [dbo].[ProtocolLabelElementTypes] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[ProtocolLabelElementTypes] ADD  DEFAULT (getdate()) FOR [insertion_date_time]
GO
ALTER TABLE [dbo].[ProtocolLabelElementTypes] ADD  DEFAULT (getdate()) FOR [modify_datetime]
GO
ALTER TABLE [dbo].[ProtocolLabels] ADD  DEFAULT ((0)) FOR [active]
GO
ALTER TABLE [dbo].[ProtocolLabels] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[ProtocolType] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[RoleModuleOperations] ADD  DEFAULT (getdate()) FOR [insertion_date_time]
GO
ALTER TABLE [dbo].[RoleModules] ADD  DEFAULT (getdate()) FOR [insertion_date_time]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT (newid()) FOR [role_id]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[SearchOperation] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[Signatures] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[Signatures] ADD  DEFAULT (getdate()) FOR [insertion_date_time]
GO
ALTER TABLE [dbo].[Signatures] ADD  DEFAULT (getdate()) FOR [modify_datetime]
GO
ALTER TABLE [dbo].[TypeOfMarking] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[TypeOfMarking] ADD  DEFAULT (getdate()) FOR [insertion_date_time]
GO
ALTER TABLE [dbo].[TypeOfMarking] ADD  DEFAULT (getdate()) FOR [modify_datetime]
GO
ALTER TABLE [dbo].[TypeOfMarkingInUsers] ADD  DEFAULT (getdate()) FOR [insertion_date_time]
GO
ALTER TABLE [dbo].[UnitOrganizations] ADD  DEFAULT ((0)) FOR [super]
GO
ALTER TABLE [dbo].[UnitOrganizations] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[UnitOrganizations] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[UnitOrganizations] ADD  DEFAULT (getdate()) FOR [insertion_date_time]
GO
ALTER TABLE [dbo].[UnitOrganizations] ADD  DEFAULT (getdate()) FOR [modify_datetime]
GO
ALTER TABLE [dbo].[UserRoles] ADD  DEFAULT (getdate()) FOR [insertion_date_time]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (newid()) FOR [user_id]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [authorized_to_access_via_web_service]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[UserUnitOrganizations] ADD  DEFAULT (getdate()) FOR [insertion_date_time]
GO
ALTER TABLE [dbo].[Archives]  WITH CHECK ADD  CONSTRAINT [FK_archives_filing_plans] FOREIGN KEY([owner_id])
REFERENCES [dbo].[Owners] ([owner_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Archives] CHECK CONSTRAINT [FK_archives_filing_plans]
GO
ALTER TABLE [dbo].[Archives]  WITH CHECK ADD  CONSTRAINT [FK_archives_insertion_user] FOREIGN KEY([insertion_user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Archives] CHECK CONSTRAINT [FK_archives_insertion_user]
GO
ALTER TABLE [dbo].[Archives]  WITH CHECK ADD  CONSTRAINT [FK_archives_modify_user] FOREIGN KEY([modify_user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Archives] CHECK CONSTRAINT [FK_archives_modify_user]
GO
ALTER TABLE [dbo].[Archives]  WITH CHECK ADD  CONSTRAINT [FK_archives_parent_archive] FOREIGN KEY([parent_archive_id])
REFERENCES [dbo].[Archives] ([archive_id])
GO
ALTER TABLE [dbo].[Archives] CHECK CONSTRAINT [FK_archives_parent_archive]
GO
ALTER TABLE [dbo].[Codings]  WITH CHECK ADD  CONSTRAINT [FK_Codings_InsertionUser] FOREIGN KEY([insertion_user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Codings] CHECK CONSTRAINT [FK_Codings_InsertionUser]
GO
ALTER TABLE [dbo].[Codings]  WITH CHECK ADD  CONSTRAINT [FK_Codings_ModifyUser] FOREIGN KEY([modify_user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Codings] CHECK CONSTRAINT [FK_Codings_ModifyUser]
GO
ALTER TABLE [dbo].[ConservationStatuses]  WITH CHECK ADD  CONSTRAINT [FK_conservation_statuses_insertion_user] FOREIGN KEY([insertion_user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[ConservationStatuses] CHECK CONSTRAINT [FK_conservation_statuses_insertion_user]
GO
ALTER TABLE [dbo].[ConservationStatuses]  WITH CHECK ADD  CONSTRAINT [FK_conservation_statuses_modification_user] FOREIGN KEY([modify_user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[ConservationStatuses] CHECK CONSTRAINT [FK_conservation_statuses_modification_user]
GO
ALTER TABLE [dbo].[DocumentOrganizationalUnits]  WITH CHECK ADD  CONSTRAINT [FK_dou_document_types] FOREIGN KEY([document_type_id])
REFERENCES [dbo].[DocumentTypes] ([document_type_id])
GO
ALTER TABLE [dbo].[DocumentOrganizationalUnits] CHECK CONSTRAINT [FK_dou_document_types]
GO
ALTER TABLE [dbo].[DocumentOrganizationalUnits]  WITH CHECK ADD  CONSTRAINT [FK_dou_organizational_units] FOREIGN KEY([unit_organization_id])
REFERENCES [dbo].[UnitOrganizations] ([unit_organization_id])
GO
ALTER TABLE [dbo].[DocumentOrganizationalUnits] CHECK CONSTRAINT [FK_dou_organizational_units]
GO
ALTER TABLE [dbo].[Documents_1]  WITH CHECK ADD  CONSTRAINT [FK_documents_1_insertion_user] FOREIGN KEY([insertion_user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Documents_1] CHECK CONSTRAINT [FK_documents_1_insertion_user]
GO
ALTER TABLE [dbo].[Documents_1]  WITH CHECK ADD  CONSTRAINT [FK_documents_1_modification_user] FOREIGN KEY([modify_user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Documents_1] CHECK CONSTRAINT [FK_documents_1_modification_user]
GO
ALTER TABLE [dbo].[Documents_1]  WITH CHECK ADD  CONSTRAINT [FK_documents_1-archives] FOREIGN KEY([archive_id])
REFERENCES [dbo].[Archives] ([archive_id])
GO
ALTER TABLE [dbo].[Documents_1] CHECK CONSTRAINT [FK_documents_1-archives]
GO
ALTER TABLE [dbo].[Documents_1]  WITH CHECK ADD  CONSTRAINT [FK_documents_1-document_types] FOREIGN KEY([document_type_id])
REFERENCES [dbo].[DocumentTypes] ([document_type_id])
GO
ALTER TABLE [dbo].[Documents_1] CHECK CONSTRAINT [FK_documents_1-document_types]
GO
ALTER TABLE [dbo].[Documents_1]  WITH CHECK ADD  CONSTRAINT [FK_documents_1-protocol_types] FOREIGN KEY([protocol_type_id])
REFERENCES [dbo].[ProtocolType] ([protocol_type_id])
GO
ALTER TABLE [dbo].[Documents_1] CHECK CONSTRAINT [FK_documents_1-protocol_types]
GO
ALTER TABLE [dbo].[Documents_1_Attachments]  WITH CHECK ADD  CONSTRAINT [FK_attachments_attachment_types] FOREIGN KEY([attachment_type_id])
REFERENCES [dbo].[AttachmentTypes] ([attachment_type_id])
GO
ALTER TABLE [dbo].[Documents_1_Attachments] CHECK CONSTRAINT [FK_attachments_attachment_types]
GO
ALTER TABLE [dbo].[Documents_1_Attachments]  WITH CHECK ADD  CONSTRAINT [FK_attachments_document_types] FOREIGN KEY([document_type_id])
REFERENCES [dbo].[DocumentTypes] ([document_type_id])
GO
ALTER TABLE [dbo].[Documents_1_Attachments] CHECK CONSTRAINT [FK_attachments_document_types]
GO
ALTER TABLE [dbo].[Documents_1_Attachments]  WITH CHECK ADD  CONSTRAINT [FK_attachments_documents] FOREIGN KEY([document_id])
REFERENCES [dbo].[Documents_1] ([document_id])
GO
ALTER TABLE [dbo].[Documents_1_Attachments] CHECK CONSTRAINT [FK_attachments_documents]
GO
ALTER TABLE [dbo].[Documents_1_Attachments]  WITH CHECK ADD  CONSTRAINT [FK_attachments_insertion_user] FOREIGN KEY([insertion_user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Documents_1_Attachments] CHECK CONSTRAINT [FK_attachments_insertion_user]
GO
ALTER TABLE [dbo].[Documents_1_Attachments]  WITH CHECK ADD  CONSTRAINT [FK_attachments_modification_user] FOREIGN KEY([modify_user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Documents_1_Attachments] CHECK CONSTRAINT [FK_attachments_modification_user]
GO
ALTER TABLE [dbo].[Documents_1_Conservation]  WITH CHECK ADD  CONSTRAINT [FK_documents_1_conservation_documents] FOREIGN KEY([document_id])
REFERENCES [dbo].[Documents_1] ([document_id])
GO
ALTER TABLE [dbo].[Documents_1_Conservation] CHECK CONSTRAINT [FK_documents_1_conservation_documents]
GO
ALTER TABLE [dbo].[Documents_1_Conservation]  WITH CHECK ADD  CONSTRAINT [FK_documents_1_conservation_status] FOREIGN KEY([conservation_status_id])
REFERENCES [dbo].[ConservationStatuses] ([conservation_status_id])
GO
ALTER TABLE [dbo].[Documents_1_Conservation] CHECK CONSTRAINT [FK_documents_1_conservation_status]
GO
ALTER TABLE [dbo].[Documents_1_Marks]  WITH CHECK ADD  CONSTRAINT [FK_flags_document_types] FOREIGN KEY([document_type_id])
REFERENCES [dbo].[DocumentTypes] ([document_type_id])
GO
ALTER TABLE [dbo].[Documents_1_Marks] CHECK CONSTRAINT [FK_flags_document_types]
GO
ALTER TABLE [dbo].[Documents_1_Marks]  WITH CHECK ADD  CONSTRAINT [FK_flags_documents] FOREIGN KEY([document_id])
REFERENCES [dbo].[Documents_1] ([document_id])
GO
ALTER TABLE [dbo].[Documents_1_Marks] CHECK CONSTRAINT [FK_flags_documents]
GO
ALTER TABLE [dbo].[Documents_1_Marks]  WITH CHECK ADD  CONSTRAINT [FK_flags_flag_types] FOREIGN KEY([mark_type_id])
REFERENCES [dbo].[TypeOfMarking] ([marking_type_id])
GO
ALTER TABLE [dbo].[Documents_1_Marks] CHECK CONSTRAINT [FK_flags_flag_types]
GO
ALTER TABLE [dbo].[Documents_1_Marks]  WITH CHECK ADD  CONSTRAINT [FK_flags_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Documents_1_Marks] CHECK CONSTRAINT [FK_flags_users]
GO
ALTER TABLE [dbo].[Documents_1_Reads]  WITH CHECK ADD  CONSTRAINT [FK_reads_document_types] FOREIGN KEY([document_type_id])
REFERENCES [dbo].[DocumentTypes] ([document_type_id])
GO
ALTER TABLE [dbo].[Documents_1_Reads] CHECK CONSTRAINT [FK_reads_document_types]
GO
ALTER TABLE [dbo].[Documents_1_Reads]  WITH CHECK ADD  CONSTRAINT [FK_reads_documents] FOREIGN KEY([document_id])
REFERENCES [dbo].[Documents_1] ([document_id])
GO
ALTER TABLE [dbo].[Documents_1_Reads] CHECK CONSTRAINT [FK_reads_documents]
GO
ALTER TABLE [dbo].[Documents_1_Reads]  WITH CHECK ADD  CONSTRAINT [FK_reads_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Documents_1_Reads] CHECK CONSTRAINT [FK_reads_users]
GO
ALTER TABLE [dbo].[DocumentType_AttachmentTypes]  WITH CHECK ADD  CONSTRAINT [FK_dtat_attachment_types] FOREIGN KEY([attachment_type_id])
REFERENCES [dbo].[AttachmentTypes] ([attachment_type_id])
GO
ALTER TABLE [dbo].[DocumentType_AttachmentTypes] CHECK CONSTRAINT [FK_dtat_attachment_types]
GO
ALTER TABLE [dbo].[DocumentType_AttachmentTypes]  WITH CHECK ADD  CONSTRAINT [FK_dtat_document_types] FOREIGN KEY([document_type_id])
REFERENCES [dbo].[DocumentTypes] ([document_type_id])
GO
ALTER TABLE [dbo].[DocumentType_AttachmentTypes] CHECK CONSTRAINT [FK_dtat_document_types]
GO
ALTER TABLE [dbo].[DocumentType_AttachmentTypes]  WITH CHECK ADD  CONSTRAINT [FK_dtat_users] FOREIGN KEY([insertion_user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[DocumentType_AttachmentTypes] CHECK CONSTRAINT [FK_dtat_users]
GO
ALTER TABLE [dbo].[DocumentTypeFields]  WITH CHECK ADD  CONSTRAINT [FK_dtf_document_types] FOREIGN KEY([document_type_id])
REFERENCES [dbo].[DocumentTypes] ([document_type_id])
GO
ALTER TABLE [dbo].[DocumentTypeFields] CHECK CONSTRAINT [FK_dtf_document_types]
GO
ALTER TABLE [dbo].[DocumentTypes]  WITH CHECK ADD  CONSTRAINT [FK_document_types_insertion_user] FOREIGN KEY([insertion_user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[DocumentTypes] CHECK CONSTRAINT [FK_document_types_insertion_user]
GO
ALTER TABLE [dbo].[DocumentTypes]  WITH CHECK ADD  CONSTRAINT [FK_document_types_modification_user] FOREIGN KEY([modify_user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[DocumentTypes] CHECK CONSTRAINT [FK_document_types_modification_user]
GO
ALTER TABLE [dbo].[Fields]  WITH CHECK ADD  CONSTRAINT [FK_Fields_InsertionUser] FOREIGN KEY([insertion_user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Fields] CHECK CONSTRAINT [FK_Fields_InsertionUser]
GO
ALTER TABLE [dbo].[Fields]  WITH CHECK ADD  CONSTRAINT [FK_Fields_ModifyUser] FOREIGN KEY([modify_user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Fields] CHECK CONSTRAINT [FK_Fields_ModifyUser]
GO
ALTER TABLE [dbo].[FieldValidations]  WITH CHECK ADD  CONSTRAINT [FK_FieldValidation_InsertionUser] FOREIGN KEY([insertion_user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[FieldValidations] CHECK CONSTRAINT [FK_FieldValidation_InsertionUser]
GO
ALTER TABLE [dbo].[FieldValidations]  WITH CHECK ADD  CONSTRAINT [FK_FieldValidation_ModifyUser] FOREIGN KEY([modify_user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[FieldValidations] CHECK CONSTRAINT [FK_FieldValidation_ModifyUser]
GO
ALTER TABLE [dbo].[FillingPlanDocumentTypes]  WITH CHECK ADD  CONSTRAINT [FK_fpdt_document_types] FOREIGN KEY([document_type_id])
REFERENCES [dbo].[DocumentTypes] ([document_type_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FillingPlanDocumentTypes] CHECK CONSTRAINT [FK_fpdt_document_types]
GO
ALTER TABLE [dbo].[FillingPlanDocumentTypes]  WITH CHECK ADD  CONSTRAINT [FK_fpdt_filing_plans] FOREIGN KEY([filing_plan_id])
REFERENCES [dbo].[Owners] ([owner_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FillingPlanDocumentTypes] CHECK CONSTRAINT [FK_fpdt_filing_plans]
GO
ALTER TABLE [dbo].[FillingPlanDocumentTypes]  WITH CHECK ADD  CONSTRAINT [FK_fpdt_users] FOREIGN KEY([insertion_user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[FillingPlanDocumentTypes] CHECK CONSTRAINT [FK_fpdt_users]
GO
ALTER TABLE [dbo].[MenuSections]  WITH CHECK ADD  CONSTRAINT [FK_MenuSections_InsertionUser] FOREIGN KEY([insertion_user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[MenuSections] CHECK CONSTRAINT [FK_MenuSections_InsertionUser]
GO
ALTER TABLE [dbo].[MenuSections]  WITH CHECK ADD  CONSTRAINT [FK_MenuSections_ModifyUser] FOREIGN KEY([modify_user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[MenuSections] CHECK CONSTRAINT [FK_MenuSections_ModifyUser]
GO
ALTER TABLE [dbo].[Modules]  WITH CHECK ADD  CONSTRAINT [FK_Modules_InsertionUser] FOREIGN KEY([insertion_user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Modules] CHECK CONSTRAINT [FK_Modules_InsertionUser]
GO
ALTER TABLE [dbo].[Modules]  WITH CHECK ADD  CONSTRAINT [FK_Modules_ModifyUser] FOREIGN KEY([modify_user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Modules] CHECK CONSTRAINT [FK_Modules_ModifyUser]
GO
ALTER TABLE [dbo].[Modules]  WITH CHECK ADD  CONSTRAINT [FK_Modules_Section] FOREIGN KEY([section_id])
REFERENCES [dbo].[MenuSections] ([section_id])
GO
ALTER TABLE [dbo].[Modules] CHECK CONSTRAINT [FK_Modules_Section]
GO
ALTER TABLE [dbo].[Operations]  WITH CHECK ADD  CONSTRAINT [FK_Operations_InsertionUser] FOREIGN KEY([insertion_user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Operations] CHECK CONSTRAINT [FK_Operations_InsertionUser]
GO
ALTER TABLE [dbo].[Operations]  WITH CHECK ADD  CONSTRAINT [FK_Operations_ModifyUser] FOREIGN KEY([modify_user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Operations] CHECK CONSTRAINT [FK_Operations_ModifyUser]
GO
ALTER TABLE [dbo].[Operations]  WITH CHECK ADD  CONSTRAINT [FK_Operations_Modules] FOREIGN KEY([module_id])
REFERENCES [dbo].[Modules] ([module_id])
GO
ALTER TABLE [dbo].[Operations] CHECK CONSTRAINT [FK_Operations_Modules]
GO
ALTER TABLE [dbo].[OwnerDocumentTypes]  WITH CHECK ADD  CONSTRAINT [FK_odt_document_types] FOREIGN KEY([document_type_id])
REFERENCES [dbo].[DocumentTypes] ([document_type_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OwnerDocumentTypes] CHECK CONSTRAINT [FK_odt_document_types]
GO
ALTER TABLE [dbo].[OwnerDocumentTypes]  WITH CHECK ADD  CONSTRAINT [FK_odt_filing_plans] FOREIGN KEY([owner_id])
REFERENCES [dbo].[Owners] ([owner_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OwnerDocumentTypes] CHECK CONSTRAINT [FK_odt_filing_plans]
GO
ALTER TABLE [dbo].[OwnerDocumentTypes]  WITH CHECK ADD  CONSTRAINT [FK_odt_users] FOREIGN KEY([insertion_user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[OwnerDocumentTypes] CHECK CONSTRAINT [FK_odt_users]
GO
ALTER TABLE [dbo].[OwnerOrganizationalUnits]  WITH CHECK ADD  CONSTRAINT [FK_oou_filing_plans] FOREIGN KEY([owner_id])
REFERENCES [dbo].[Owners] ([owner_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OwnerOrganizationalUnits] CHECK CONSTRAINT [FK_oou_filing_plans]
GO
ALTER TABLE [dbo].[OwnerOrganizationalUnits]  WITH CHECK ADD  CONSTRAINT [FK_oou_organizational_units] FOREIGN KEY([unit_organization_id])
REFERENCES [dbo].[UnitOrganizations] ([unit_organization_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OwnerOrganizationalUnits] CHECK CONSTRAINT [FK_oou_organizational_units]
GO
ALTER TABLE [dbo].[OwnerOrganizationalUnits]  WITH CHECK ADD  CONSTRAINT [FK_oou_users] FOREIGN KEY([insertion_user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[OwnerOrganizationalUnits] CHECK CONSTRAINT [FK_oou_users]
GO
ALTER TABLE [dbo].[Owners]  WITH CHECK ADD  CONSTRAINT [FK_FilingPlans_insertion_user_id] FOREIGN KEY([insertion_user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Owners] CHECK CONSTRAINT [FK_FilingPlans_insertion_user_id]
GO
ALTER TABLE [dbo].[Owners]  WITH CHECK ADD  CONSTRAINT [FK_FilingPlans_modify_user_id] FOREIGN KEY([modify_user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Owners] CHECK CONSTRAINT [FK_FilingPlans_modify_user_id]
GO
ALTER TABLE [dbo].[ProtocolLabelElements]  WITH CHECK ADD  CONSTRAINT [FK_ple_document_type_fields] FOREIGN KEY([document_type_field_id])
REFERENCES [dbo].[DocumentTypeFields] ([document_type_field_id])
GO
ALTER TABLE [dbo].[ProtocolLabelElements] CHECK CONSTRAINT [FK_ple_document_type_fields]
GO
ALTER TABLE [dbo].[ProtocolLabelElements]  WITH CHECK ADD  CONSTRAINT [FK_ple_insertion_user] FOREIGN KEY([insertion_user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[ProtocolLabelElements] CHECK CONSTRAINT [FK_ple_insertion_user]
GO
ALTER TABLE [dbo].[ProtocolLabelElements]  WITH CHECK ADD  CONSTRAINT [FK_ple_modification_user] FOREIGN KEY([modify_user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[ProtocolLabelElements] CHECK CONSTRAINT [FK_ple_modification_user]
GO
ALTER TABLE [dbo].[ProtocolLabelElements]  WITH CHECK ADD  CONSTRAINT [FK_ple_protocol_label_element_types] FOREIGN KEY([protocol_label_element_type_id])
REFERENCES [dbo].[ProtocolLabelElementTypes] ([protocol_label_element_type_id])
GO
ALTER TABLE [dbo].[ProtocolLabelElements] CHECK CONSTRAINT [FK_ple_protocol_label_element_types]
GO
ALTER TABLE [dbo].[ProtocolLabelElements]  WITH CHECK ADD  CONSTRAINT [FK_ple_protocol_labels] FOREIGN KEY([protocol_label_id])
REFERENCES [dbo].[ProtocolLabels] ([protocol_label_id])
GO
ALTER TABLE [dbo].[ProtocolLabelElements] CHECK CONSTRAINT [FK_ple_protocol_labels]
GO
ALTER TABLE [dbo].[ProtocolLabels]  WITH CHECK ADD  CONSTRAINT [FK_pl_document_types] FOREIGN KEY([document_type_id])
REFERENCES [dbo].[DocumentTypes] ([document_type_id])
GO
ALTER TABLE [dbo].[ProtocolLabels] CHECK CONSTRAINT [FK_pl_document_types]
GO
ALTER TABLE [dbo].[RoleModuleOperations]  WITH CHECK ADD FOREIGN KEY([insertion_user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[RoleModuleOperations]  WITH CHECK ADD FOREIGN KEY([module_id])
REFERENCES [dbo].[Modules] ([module_id])
GO
ALTER TABLE [dbo].[RoleModuleOperations]  WITH CHECK ADD FOREIGN KEY([operation_id])
REFERENCES [dbo].[Operations] ([operation_id])
GO
ALTER TABLE [dbo].[RoleModuleOperations]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[Roles] ([role_id])
GO
ALTER TABLE [dbo].[RoleModules]  WITH CHECK ADD FOREIGN KEY([insertion_user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[RoleModules]  WITH CHECK ADD FOREIGN KEY([module_id])
REFERENCES [dbo].[Modules] ([module_id])
GO
ALTER TABLE [dbo].[RoleModules]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[Roles] ([role_id])
GO
ALTER TABLE [dbo].[Roles]  WITH CHECK ADD  CONSTRAINT [FK_Roles_InsertionUser] FOREIGN KEY([insertion_user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Roles] CHECK CONSTRAINT [FK_Roles_InsertionUser]
GO
ALTER TABLE [dbo].[Roles]  WITH CHECK ADD  CONSTRAINT [FK_Roles_ModifyUser] FOREIGN KEY([modify_user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Roles] CHECK CONSTRAINT [FK_Roles_ModifyUser]
GO
ALTER TABLE [dbo].[TypeOfMarkingInUsers]  WITH CHECK ADD  CONSTRAINT [FK_TypeOfMarking] FOREIGN KEY([marking_type_id])
REFERENCES [dbo].[TypeOfMarking] ([marking_type_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TypeOfMarkingInUsers] CHECK CONSTRAINT [FK_TypeOfMarking]
GO
ALTER TABLE [dbo].[UnitOrganizations]  WITH CHECK ADD  CONSTRAINT [FK_UnitOrganizations_InsertionUser] FOREIGN KEY([insertion_user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[UnitOrganizations] CHECK CONSTRAINT [FK_UnitOrganizations_InsertionUser]
GO
ALTER TABLE [dbo].[UnitOrganizations]  WITH CHECK ADD  CONSTRAINT [FK_UnitOrganizations_ModifyUser] FOREIGN KEY([modify_user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[UnitOrganizations] CHECK CONSTRAINT [FK_UnitOrganizations_ModifyUser]
GO
ALTER TABLE [dbo].[UnitOrganizations]  WITH CHECK ADD  CONSTRAINT [FK_UnitOrganizations_Parent] FOREIGN KEY([parent_unit_organization_id])
REFERENCES [dbo].[UnitOrganizations] ([unit_organization_id])
GO
ALTER TABLE [dbo].[UnitOrganizations] CHECK CONSTRAINT [FK_UnitOrganizations_Parent]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD FOREIGN KEY([insertion_user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[Roles] ([role_id])
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Organizations] FOREIGN KEY([organization_id])
REFERENCES [dbo].[Organizations] ([organization_id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Organizations]
GO
ALTER TABLE [dbo].[UserUnitOrganizations]  WITH CHECK ADD FOREIGN KEY([insertion_user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[UserUnitOrganizations]  WITH CHECK ADD FOREIGN KEY([unit_organization_id])
REFERENCES [dbo].[UnitOrganizations] ([unit_organization_id])
GO
ALTER TABLE [dbo].[UserUnitOrganizations]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
USE [master]
GO
